DATABASE_URL="postgresql://user:password@host-pooler/database?sslmode=require"
QUEUE_DATABASE_URL="postgresql://user:password@host/database?sslmode=require"
BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
